*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100%;
    overflow: hidden;
}

h2 { 
    color: #e2e6ee;
    font-size: 1.8rem;
    margin: 10px 0;
}

.wrapper {
    display: flex;
    height: 100%;
}

.canvas__container { 
    flex: 1 1 80%;
    height: inherit;
    overflow: hidden;
}

.webgl {
    width: 100%;
    height: 100%;
    display: block;
}

#sidebar {
    width: 350px;
    height: 100%;
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }
    #sidebar {
        width: 100%;
        height: auto;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1000;
    }
    
}

.env-selector {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
.environment-button {
    position: relative;
    flex: 1 0 calc(33% - 10px);
    aspect-ratio: 1/1;
}

.environment-button:hover { 
    cursor: pointer;
}

.environment-icon {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.material-panel {
    display: none;
}
.material-panel-item {
    margin-bottom: 12px;
}

.input__container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input__container label {
    font-size: 1rem;
    color: #cfcfcf;
    min-width: 45px;
    flex-shrink: 0;
}

.input__file-label {
    display: inline-block;
    padding: 8px 20px;
    background-color: #242933;
    color: #e2e6ee;
    border: 1.5px solid #383e4a;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.97rem;
    transition: background-color 0.18s, border 0.18s, color 0.18s;
    user-select: none;
    outline: none;
}

.input__file-label:hover,
.input__file-label:focus {
    background: #353b47;
    border-color: #56a7ff;
    color: #fff;
}

.input__container input[type="file"] {
    display: none;
}


.loader {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 48px;
height: 48px;
border-radius: 50%;
display: inline-block;
border-top: 3px solid #FFF;
border-right: 3px solid transparent;
box-sizing: border-box;
animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 


.canvas__container {
    position: relative;
}