*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#loading-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000;
  color: white;
  font-family: sans-serif;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

#loading-screen.hidden {
  opacity: 0;
  pointer-events: none;
}

.reset-button {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 999;
  font-size: 16px;
  padding: 8px 15px;
  color: #161616;
  background-color: rgb(214, 214, 6);
}

.reset-button:hover {
  cursor: pointer;
    color: #000000;
  background-color: rgb(255, 255, 0);
}
